/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

#banner {
    background-image: url('/src/assets/imgs/imagen1.webp');
    /* 1. Muestra la imagen entera, escalándola hasta que quepa por completo. */
    background-size: contain;
    /* 2. Evita que la imagen se repita si el área es más grande que la imagen. */
    background-repeat: no-repeat;
    /* 3. Centra la imagen en el contenedor. */
    background-position: right;
}

#li_azul {
    color: #346cc8;
    font: medium;
    font-size: 1.2rem;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 1rem;
    color: #7d868c;
}