/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-fijo {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 1rem;
    color: #7d868c;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    /* Si 100% es 16px, el 90% es 14.4px */
    font-size: 14.4px; 
  }
}